/*
 * Copyright 2011, Dave Masse
 * GPL v2.0
 * http://www.gnu.org/licenses/gpl-2.0.txt
 */

#webcam_archive .slug {
	padding: 0 10px;
	text-align: right;
	white-space: nowrap;
}
#webcam_archive .number {
	text-align: center;
}