/*
 * Copyright 2011, Dave Masse
 * GPL v2.0
 * http://www.gnu.org/licenses/gpl-2.0.txt
 */

#webcam_archive form {
	display: inline;
}
#webcam_archive form input.submit {
	display: none;
}
#webcam_archive .image {
	float: left;
	margin-right: 20px;
	text-align: center;
}
#webcam_archive .thumb img {
	border: 1px solid #999;
}
#webcam_archive .tooltip {
	z-index: 100;
	display: none;
	padding: 10px;
	background: #fff;
	border: 2px solid #999;
	-moz-box-shadow: 4px 4px 5px #999;
	-webkit-box-shadow: 0 0 10px #333;
	box-shadow: 0 0 10px #333;
}
#webcam_archive .tooltip img {
	border: 1px solid #999;
}
#webcam_archive .tooltip p {
	margin: 0 0 0.25em 0;
}
#webcam_archive .tooltip .meta {
	text-align: center;
}
#webcam_archive .nav {
	margin: 1em 0;
}
#webcam_archive .next {
	float: right;
}
#webcam_archive .prev {
	float: left;
}
#webcam_archive .clear {
	clear: both;
}
#webcam_archive .ui-datepicker-trigger {
	margin-left: 10px;
	cursor: pointer;
}
.ui-datepicker-calendar .hasEntry a {
	background: #eb8f00;
	color: #fff;
}
.ui-datepicker-calendar .ui-datepicker-current-day a {
	background: #1c94c4;
	color: #fff;
}